.App {
  text-align: center;
  background-color: rgba(151, 223, 241, 0.651);
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* LOGIN PAGE */

.loginlabel {
  display: block;
  position: relative;
  font-size: 13px;
  color: rgb(10, 80, 51);
}

.loginspan {
  position: absolute;
  top: -16px;
  left: 0;
  background: white;
  padding: 0 4px;
}

.logininput {
  border: 1px solid rgb(10, 80, 51);
  padding: 8px 12px;
  font-size: 16px;
  width: 300px;
  height: 35px;
  border-radius: 10px;
}

.loginpbtn {
  width: 300px;
  height: 42px;
  border-radius: 3px;
  background-color: rgb(10, 80, 51);
  color: white;
  margin-top: 30px;
}

.contwithgoogle {
  width: 300px;
  height: 42px;
  border-radius: 1px;
  border-color: rgba(190, 188, 188, 0.918);
  background-color: white;
  color: black;
  margin-top: 10px;  
}

.Signuplabel{
  display: block;
  position: relative;
  font-size: 13px;
  color: rgb(10, 80, 51);
}

.Signupspan{
  position: absolute;
  top: -16px;
  left: 0;
  background: white;
  padding: 0 4px;
}

.Signupinput{
  border: 1px solid rgb(10, 80, 51);
  padding: 8px 12px;
  font-size: 16px;
  width: 150px;
  height: 35px;
  border-radius: 10px;
}






/* Simulator Styling */
.Simulato_lower_row{
  display: flex;
}

/* NAVIGATION BAR WORKSPACE */
.ResNavBarWorkspace{
  background-color: white;
  height: 50px;
  margin-top: -26px;
  display: flex;
}

.logotext{
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  padding-top: 10px;
  padding-left: 50px;
}

.workspaceTxt{
  font-size: 18px;
  padding-left: 100px;
  padding-top:10px;
}


/* SIDEBAR LEFT */
.sidebarsidebar{
  z-index: 1;
  position: absolute;
  height: 540px;
  width: 200px;
  background-color: #61dafb;
}







/* WORKSPACE CENTER */
.workspaceclass{
  margin-left: 200px;
  margin-top: 0px;
  height: 540px;
  width: 850px;
  background-color: rgb(126, 126, 126);
}

.workspaceandtile{
  display: flex;
}


.Inputfieldcontainer{
  padding-top: 10px;

}

.inputfield{
  border-radius: 10px;
  border-color: white;
}

.draggableclass{
  z-index: -1;
  height: 160mm;
  width: 50mm;
}


.inputdesign{
  margin-left: 180px;
  z-index: 1;
}

.reactbut{
  background-color: rgba(212, 81, 147, 0.719);
  margin-left: 10px;
  border-color: rgba(255, 0, 128, 0.719);
  border-radius: 5px;
}










/* InstructNotebookTile */
.InstructNotebookTile{
  background-color: #ffffff;
  width: 294px;
  height: 540px;
  border: 2px solid #0e4127c2;
  align-items: center;
  border-radius: 5px;
}

.Instructions{
  border: 2px solid white;
  background-color: #113f28c2;
  color: white;
  width: 280px;
  margin-left: 5px;
  border-radius: 8px;
}

.Resultslog{
  border: 2px solid white;
  background-color: #195e3cbd;
  color: white;
  width: 280px;
  margin-left: 5px;
  border-radius: 8px;
}

.Notebook{
  border: 2px solid white;
  background-color: #289b62c2;
  color: white;
  width: 280px;
  margin-left: 5px;
  border-radius: 8px;
}

.textAreaInst{
  width: 275px;
  border-radius: 8px;
  margin-top: 3px;
  height: 100px;
}

.Simfooter{
  background-color: rgba(255, 166, 0, 0.726);
  color: rgb(68, 56, 3);
}